.cardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  background: rgb(208, 208, 208);
  border-radius: 4px;
  padding: 1rem;
}

.cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cardHolder {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }
}
