.cardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  background: whitesmoke;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cardHolder {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  .cardInfo {
    word-break: break-all;
  }
}
